.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  width: 50%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settings-link {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.settings-link:hover {
  background-color: #ececec;
  border-radius: 0.3rem;
}
